<h1>This is the main page</h1>
<h2 *ngIf="userFirstName">Hello {{ userFirstName }}</h2>

<div class="container" id="search-container">
  <div class="searchBox row justify-content-center">
    <label class="col-auto text-primary" for="search">Search Jobs:</label>
    <input class="col" type="search" id="search" placeholder="Search Job Listings" />
  </div>
</div>
<br>
<!-- Generate postings dynamically for jobs -->
<div class="container" id="list-of-jobs">
  <div class="job-card-container" *ngFor="let JobPost of JobPosts">
    <div class="row job-card container" (click)="showJobModal(JobPost)">
      <h3 class="row text-primary">{{JobPost.jobTitle}}</h3>
      <div class="row comp-pay justify-content-start">
        <h4 class="text-secondary pay-range col-auto">${{JobPost.minPayRange}} - ${{JobPost.maxPayRange}} |
          {{JobPost.jobCompany}} | {{JobPost.jobLocation}}</h4>
      </div>
    </div>
    <!-- Modal -->
    <div id="jobModal{{JobPost.id}}" class="myModal container-fluid">
      <div class="modal-content" id="modalContent">
        <div class="modal-header row justify-content-between">
          <h2 class="modal-title col-10">{{JobPost.jobTitle}}</h2>
          <span class="closeBtn col-auto ml-auto" id="closeBtn" (click)="closeModal(JobPost)">&times;</span>
        </div>
        <div class="modal-body">
          <p>{{JobPost.jobCompany}}</p>
          <p>{{JobPost.jobLocation}}</p>
          <p>${{JobPost.minPayRange}} - ${{JobPost.maxPayRange}}</p>
          <p>{{JobPost.jobDescription}}</p>
        </div>
        <div class="modal-footer row justify-content-center">
          <a><button id="applybtn" class="col-sm-auto col-lg-2">Apply Now</button></a>
        </div>

      </div>
    </div>
  </div>
</div>