input {
    font-size: 1rem;
}

.job-card {
    border: 1px grey solid;
    background-color: white;
    padding: 20px;
    border-radius: .35rem;
}
nav {
    padding: 20px;
}

.job-card-container + .job-card-container {
    padding-top: .5rem;
}
.job-card:hover, .job-card:focus {
    background-color: rgb(215, 214, 214);
    cursor: pointer;
}



.myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.4);
}

.modal-content{
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.3), 0 8px 12px 0 rgba(0,0,0,.2);
    animation-name: openmodal;
    animation-duration: .33s;
    background-image: linear-gradient(to bottom right, rgb(146, 201, 253),rgb(239, 247, 255),rgb(249, 249, 249), white);
}

#applybtn {
    background-color:rgb(146, 201, 253) ;
    padding: .5em;
    border: 0;
}

.closeBtn {
    color: rgb(136, 136, 136);
    float: right;
    font-size: 1rem;
}

.closeBtn:hover, .closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div {
    word-wrap: break-word;
}

@keyframes openmodal {
    from {opacity: 0;}
    to {opacity: 1;}
}
p{
    color:black;
}
#page-container {
    
    text-align: center;
    background-color: hsla(205,46%, 30%, 1);
    height:25px;
    padding: 0px;
    bottom: 0;
    width:100%;
    position: fixed;
   
    
  }
#welcome{
    padding-top: 5rem;
    color:#0d6efd;
    justify-content:end;
}
  h1{
      color:white;
      padding:25px;
      text-align: center;
  }

  .bgimg {
    background-image: url('src\images\sky.jpg');
    width: 100%;
   height: 600px;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    opacity: .8;
  }

 #headerText{
    
    padding-top: 250px;
    padding-bottom: 303px;
    background-color: rgba(0,0,0,.6);
  }

  #searchLabel{
      
      font-size: 2rem;
  }

  #frontPageDisplay + #search-container{
      padding-top: 5rem;
  }

  #spacer {
      padding: 20px;
  }