<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>Register yourself</h6>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
              </div>
              <div class="form-group">
                <label for="Username">Username</label>
                <input formControlName="username" type="text" class="form-control" id="Username" placeholder="User Name">
              </div>
              <div class="form-group">
                <label for="Role">Recruiter or User</label>
                <input formControlName="role" type="text" class="form-control" id="Role" placeholder="Recruiter or User">
              </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
              </div>
              
              <button type="submit" class="btn btn-primary">Sign Up</button>

        </form>
        <a [routerLink]="['/login']">Already have an account? Log In </a>
      </div>
    </div>
  </div>
</div>
